h1 {
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: 10vh;
    border: 5px solid black;
    border-radius: 10px;
    width: fit-content;
}

.cellClass {
    border: 4px solid black;
    width: 150px;
    height: 150px;
    background-image: url("question.png");
}

.classX {
    background-image: url("Xsign.png");
    background-size: contain;
}

.classO {
    background-image: url("Osign.png");
    background-size: contain;

}

.popup {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;

}

.popup.active {
    transform: translate(-50%, -50%) scale(1);

}

.popup-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.popup-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.popup-body {
    padding: 10px, 15px;
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    pointer-events: none;
}

#overlay.active {
    opacity: 0.75;
    pointer-events: all;
}