#board{
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 
}
.cellClass{
    border-radius: 5px;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    /* https://upload.wikimedia.org/wikipedia/commons/a/aa/Emblem-question-yellow.svg */
    background-image: url("question.png");
    background-image: url("question.png");
}
.classX{
    background-image: url("Osign.png");
  /* 'https://upload.wikimedia.org/wikipedia/commons/a/a2/X_mark.svg' */
}
.classO{
    background-image: url("Xsign.png");
    /* 'https://upload.wikimedia.org/wikipedia/commons/2/2d/O-Jolle_insigna.png'*/
} 